@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(226, 235, 232);
}

.loader{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader span{
width: 30px !important;
height: 30px !important;
border-radius: 100%;
border-width: 4px !important;
border-style: solid;
border-color: #88ac2e #88ac2e transparent !important;
border-image: initial;
display: inline-block;
animation: 0.75s linear 0s infinite normal both running react-spinners-ClipLoader-clip;
}
.loader.inner-loader{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.inner-loader span{
width: 30px !important;
height: 30px !important;
border-radius: 100%;
border-width: 4px !important;
border-style: solid;
border-color: #88ac2e #88ac2e transparent !important;
border-image: initial;
display: inline-block;
animation: 0.75s linear 0s infinite normal both running react-spinners-ClipLoader-clip;
}